body {
  background: lightblue url("/images/lpagealt.jpeg") ;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;
}
.showcase-txt{
    margin: 0 auto;
    color: white;
}
.btn{
    margin-left: 40%;
}