{{#partial "content"}}

    <div id="hero" class="card">
        <img src="https://images.unsplash.com/photo-1453872302360-eed3c5f8ff66?crop=entropy&cs=srgb&fm=jpg&ixid=Mnw3MjAxN3wwfDF8c2VhcmNofDEzMHx8YmVhY2h8ZW58MHx8fHwxNjUyNzYzMDI5&ixlib=rb-1.2.1&q=85&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450" class="img-fluid ">
        <div class="card-img-overlay   d-flex flex-column align-items-center justify-content-center">


        </div>
    </div>
{{/partial}}

{{> layout.hbs}}