{{#partial "content"}}

    <div id="hero" class="card">
        <img src="/images/lpagealt.jpeg" class="img-fluid ">
        <div class="card-img-overlay   d-flex flex-column align-items-center justify-content-center">

            <div class="hero-text text-center">
                <h1>Travel-With-Me<br> </h1>
                <h3>Want to Travel and share your experience?</h3>
                <h3>Travel-With-Me helps you journal as you explore the world.</h3>
                <h3>Record destinations you have visited or plan to visit.</h3>
                <h3>Don't forget to leave reviews and ratings at the end of your stay<br> Bon Voyage!</h3>


                <a href=""><button class="hero-btn listbtn btn-success">Add Destination</button></a>
            </div>
        </div>
    </div>

    <!--Destination Section-->
    <div class="destination-section">
    <div class="row justify-content-center ">
        <h3>Destinations</h3>
    {{#each places}}
        <div class="col-sm-5 " >
            <div class="card" style="width: 18rem;">
                <img src="{{imageurl}}" class="card-img-top" alt="locationimg">
                <div class="card-body">
                    <h3 class="card-title">{{destinantion}}</h3>
                    <h6><i class="fa-solid fa-location-dot"></i> {{location}}</h6>
                    <p class="card-text">{{description}}</p>
                    <a href="#" class="listbtn btn-success">Add Review</a>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
    </div>
{{/partial}}

{{> layout.hbs}}
