{{#partial "content"}}

    <div id="successhbs" class="card">
        <img src="/images/dform2.jpeg" class="img-fluid ">
        <div class="card-img-overlay   d-flex flex-column align-items-center justify-content-center">

            <div class="success">

                <h3>Success! <br>
                    <span>{{ element }} </span><br>
                    Has been added.
                </h3>
            </div>
            <a href="/"><button class="listbtn btn-primary">Go To Home</button></a>


        </div>
    </div>
    </div>
{{/partial}}

{{> layout.hbs}}